@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
body{
  @apply bg-gradient-to-b from-gray-950 via-gray-900 to-gray-950
}


.text_sm {
  @apply text-sm;
}
.text_base {
  @apply text-base;
}
.text_lg {
  @apply text-lg;
}
.text_xl {
  @apply text-xl;
}
.text_2xl {
  @apply text-2xl;
}
.text_3xl {
  @apply text-3xl;
}
.text_4xl {
  @apply text-4xl;
}
.text_5xl {
  @apply text-5xl;
}
.text_6xl {
  @apply text-6xl;
}
.text_7xl {
  @apply text-7xl;
}

/* Animation */

@keyframes blob {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}
@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-blob {
  animation: blob 7s infinite;
}
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}
.animate-gradient-x {
  animation: gradient-x 3s ease infinite;
  background-size: 200% 200%;
}
.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}
/* navbar */
@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-gradient-x {
  animation: gradient-x 3s ease infinite;
  background-size: 200% 200%;
}
